<div class="row">
    <div class="col-8 d-flex flex-row"><h4>List of Anime</h4></div>
    <div class="col-4 d-flex flex-row-reverse">
        <button type="button" class="btn btn-primary" (click)="onClickSearch($event)">Search</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item">Anime 1</li>
            <li class="list-group-item">Anime 2</li>
            <li class="list-group-item">Anime 3</li>
        </ul>
    </div>
</div>